// Backgrounds
$home-background-color: #ffede1;
$loading-background-color: #fff;
// Loading dots
$first-dot-color: #ff8788;
$second-dot-color: #b2ffcb;
$third-dot-color: #9680af;
$fourth-dot-color: #fee1c3;

// Color palette
$primary-color: #5b1009;
$secondary-color-1: #161515;
$secondary-color-2: #40bcab;
$secondary-color-3: #e9bbba;

// Tints and shades


// Message colors

// $success-color: #28a745;
// $danger-color: #dc3545;
// $warning-color: #ffc107;
// $info-color: #17a2b8;